@font-face {
  font-family: 'mulish';
  src: url('../fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'mulishItalic';
  src: url('../fonts/Mulish-Italic-VariableFont_wght.ttf') format('truetype');
}


body {
  margin: 0;
  padding: 0;
  font-family: 'mulish', Helvetica, sans-serif;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15%;
  height: 100vh;
  position: fixed;
  background: linear-gradient(180deg, rgba(243, 196, 196, 0.8), rgba(235, 179, 162, 0.8));
}

.logo {
  padding: 15px;
}

nav ul {
  height: 95%;
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
}

nav a {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style: none;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  text-decoration: none;
  transition: 0.5s;
  font-size: 1.5em;
}

button, a {
  font-family: 'mulish';
  font-size: 1em;
  display: flex;
  flex-direction: column;
  border: none;
  align-items: center;
  background-color: transparent;
  cursor: pointer;
  padding: 15px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #4d4d4d;
  transition: 0.5s;
  font-size: 1.5em;
}

form button {
  background-color: #ffa74fc9;
  color: rgba(0, 0, 0, 0.842);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

button:hover, a:hover {
  background: linear-gradient(90deg, rgba(243, 196, 196, 0.8), rgba(211, 156, 140, 0.8));
}


main{
  text-align: center;
  margin:0;
  width: 85%;
  height: 100%;
  margin-left: 15%;

}

h1 {
  font-family: 'mulishItalic';
  text-align: center;
  color: #000000;
  margin: 0;
  padding: 5px;
}

h2 {
  padding: 10px;
  text-align: center;
  margin: 0;
}

p {
  padding: 5px;
  margin:0;
}


.viajesBotones{
  display: flex;
  flex-direction: row;
  justify-content: center;

}

.viajesBotones button {
  background-color: #fc7f03c9;
  color: rgba(0, 0, 0, 0.842);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

.trips {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 10px;
  padding: 10px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(202, 236, 197, 0.8);
  padding: 10px;
  border-radius: 10px;
}

.cancelados {
  background-color: rgb(255, 93, 93);
}

.card p {
  text-align: center;
  padding: 5px;
  margin: 0;
}

.card button {
  font-size: 1.2em;
  background-color: #fc7f03c9;
  color: rgba(0, 0, 0, 0.842);
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 2px;
}

.card button:hover {
  background-color: #fc7f0380;
}

.editarViaje {
  font-size: 0.8em;
  display: none;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(90deg, rgba(238, 140, 48, 0.8), rgba(233, 60, 8, 0.8));
  color:#fff;
  width: 50%;
  margin: 0 auto;
  padding: 10px;
  border-radius: 10px;
}

.editarViaje button {
  margin:0 auto;
  color:#fff
}

.editarViaje input {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
}

.crearViaje {
  display: none;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 50%;
  margin: 0 auto;
  border-radius: 10px;
  background: linear-gradient(90deg, rgba(238, 140, 48, 0.8), rgba(233, 60, 8, 0.8));
  color: #fff;
}

.crearViaje input {
  width: 95%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
}

.crearViaje button {
  margin:0 auto;
  color:#fff
}


.viewReservas {
  display: none;
  flex-direction: column;
}

.reservasBotones{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.reservasBotones button {
  background-color: #fc7f03c9;
  color: rgba(0, 0, 0, 0.842);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

.reservas {
  display: grid;
  margin: 20px;
  grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  gap: 10px;
  padding: 10px;
}