body{
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
}

nav {
  height: 100vh;
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(77, 77, 77) ;
}

ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  text-align: center;
}
nav a {
  display: flex;
  flex-direction: column;
  gap: 50px;
  list-style: none;
  padding: 15px;
  text-decoration: none;
  color: #fff;
  transition: 0.5s;
}
nav a:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  box-shadow: 2px 2px 5px rgba(255, 140, 0, 0.838);
}

