html, body {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-image: url('../images/beach-Landscape.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
    width: 100%;
  }

main {
  display: flex;
  align-items: center;
  justify-content: stretch;
}

h2 {
  text-align: center;
  margin-top: 20px;
  /* color: #ffc27d; */
  color: #ffffff;
  text-shadow: 2px 2px 5px rgba(255, 140, 0, 0.838); /* Adds a shadow */
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  background-color: rgb(0,0,0,0.8);
  padding: 30px;
  border-radius: 10px;
  width: 30%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.personas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
  background-color: rgb(0,0,0,0.8);
  padding: 30px;
  border-radius: 10px;
  width: 70%;
}
button[type="submit"] {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* close forms section */