@font-face {
  font-family: 'mulish';
  src: url('../fonts/Mulish-VariableFont_wght.ttf') format('truetype');
}

@font-face {
  font-family: 'mulishItalic';
  src: url('../fonts/Mulish-Italic-VariableFont_wght.ttf') format('truetype');
}

html, body {
    margin: 0;
    font-family: 'mulish', Helvetica, sans-serif;
    font-size: 22px;
    color: #ffffff;
    background-image: url('../images/beach-Landscape.jpg'); /* Replace with your image path */
    background-size: cover; /* Ensures the image covers the entire background */
    background-position: center center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}

.bigContainer {
  display: flex;

  align-items: center;
}

h1 {
  font-family: 'mulishItalic';
  text-align: center;
  margin-top: 20px;
  color: #ffffff;
}

h2 {
  font-family: 1.8em;
  font-family: 'mulishItalic';
  text-align: center;
}

p {
  text-align: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(0,0,0,0.8);
  padding: 20px;
  border-radius: 10px;
  width: 50%;
  margin: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.personas {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px;
  background-color: rgb(0,0,0,0.8);
  padding: 30px;
  border-radius: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  background-color: #0056b3;
}


.form-trip {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  
}

.form-trip label  {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(144, 132, 253, 0.5);
  border:#deeeff 1px solid;
  border-radius: 10px;
  padding: 5px;
}

.form-trip p {
  font-size: 0.65em;
}

a {
  font-size: 0.8em;
  text-decoration: none;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

a:hover {
  background-color: #0056b3;
}
